.border-fieldset {
	margin: 1em;
}
.fieldset-gui,
.fieldset-meta {
	margin-top: 2em;
	background-color: darkgrey;
}
.menu-icon-wrapper {
	float: left;
	position: relative;
	width: 3em;
	height: 3em;
	overflow: hidden;
}
#version {
	float: left;
	position: relative;
}
#inputfile {
	cursor: pointer;
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	width: 3em;
	height: 3em;
	overflow: hidden;
}
.openicon {
	background: url("img/open-icon.png") no-repeat;
	background-size: 3em 3em;
	background-position: left top;
}
.icon {
	margin: 5px;
	vertical-align: middle;
}
.icon:hover{
	cursor: pointer;
}
.legend-gui,
.legend-metadata {
	font-size: 1.5em;
	font-weight: bold;
	background-color: lightgrey;
	border: 1px solid black;
	padding: 0.2em;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
}
.fieldset-field {
	margin-top: 2em;
	background-color: lightgrey;
}
.legend-field,
.legend-meta {
	font-size: 1.5em;
	background-color: lightgrey;
	border: 1px solid black;
	padding: 0.2em;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
}
.divframe {
	border: 1px solid black;
	margin: 1px 1px 1px 1px;
}
.div-gui {
	float: left;
	width: 100%;
	background-color: #6d6a6a;

}
nav {
	margin-top: 1em;
	float: left;
	border: 0;
	padding: 0;
	left: 0;
	background-color: transparent;
}

nav ul {
	padding: 0;
	margin: 0;
	background-color: transparent;
}
nav ul li{
	list-style-type: none;
	float: left;
	background: lightgrey;
	padding-left: 1em;
	padding-right: 1em;
	border: 1px black solid;
	border-bottom: 0px;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	box-shadow: 5px -2px;
}
nav ul li span{
	height: 1.5em;
	margin-top: 0.5em;
	display: block;
	vertical-align: middle;
}
nav ul li:hover{
	cursor: pointer;
}
.tablist {
	float: left;
	width: 10%;
	margin: 2.5em 0 0 1em;
	padding-left: 0;
}
.tablist li{
	padding: 0.5em 0 0.2em 5%;
	list-style-type: none;
	background: lightgrey;
	width: 94%;
	border: 1px black solid;
	border-right: 0;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	box-shadow: -5px -2px;
}
.tablist li:hover{
	cursor: pointer;
}
.fieldset-field div fieldset dl dt ul {
	padding: 0;
	margin-bottom: 1em;
	list-style-type: none;
}
.hidden {display: none;}
span.ext_state_spec_text {margin-left: 1em; margin-right: 1em;}
#lorem {
	width: 90%;
	line-height: 2em;
}